@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');

@layer base {
  body {
    @apply font-[Raleway]
  }

  li {
    @apply px-4;
    @apply cursor-pointer
  }
}

.portfolio-backgrounds {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.portfolio-backgrounds:hover {
  background-image: linear-gradient(
    to bottom right,
    rgba(235, 250, 249, 0.7),
    rgba(151, 214, 208, 0.7)
  )!important;
}